html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Header {
  width: 100%;
  color: rgb(219, 217, 214);
  background-color: rgb(35, 57, 59);
}
.title {
  margin-top: 70px;
  color: rgb(58, 209, 189);
  background-image: url("../public/image.PNG");
  width: 60%;
  height: 600px;
  font-size: 100px;
  animation: fadeIn 6.2s ease 0.3s 1 normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}

.about {
  margin-top: 60px;
  color: rgb(245, 234, 234);
  font-size: 30px;
  animation: fadeIn 6.2s ease 0.3s 1 normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width:60%;
  word-break:break-all;
}

.Infomation{
  margin-top: 60px;
  font-size: 60px;
  text-align: center;
}
.map {
  margin-top: 60px;
  animation: fadeIn 6.2s ease 0.3s 1 normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-top: 60px;

  margin-right: auto;
  margin-left: auto;
  height: 90px;
  background-color: rgb(53, 31, 3);
  color: antiquewhite;

}
@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  } /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}
