html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.HeaderText{
  text-align: right;
}
.title {
  margin-top: 80px;
  color: rgb(58, 209, 189);
  background: no-repeat url("../public/image.PNG");
  width: 60%;
  height: 600px;
  font-size: 6vmax;
  /* animation: fadeIn 6.2s ease 0.3s 1 normal; */
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}
.Sample{
  padding-top: 250px;
}
.about {
  padding-top: 260px;
  color: rgb(245, 234, 234);
  font-size: 3vmax;
  animation: fadeIn 1.2s ease 0.3s 1 normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width:60%;
  word-break:break-all;
}

.Infomation{
  margin-top: 260px;
  font-size: 50px;
  text-align: center;

}
.map {
  margin-top: 260px;
  padding-bottom: 260px;
  animation: fadeIn 6.2s ease 0.3s 1 normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  height: 90px;
  background-color: rgb(53, 31, 3);
  color: antiquewhite;

}
@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  } /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}

@media screen and (min-width:280px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .media{
    color: aqua;
  }
  .title {
    width: 100%;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .media{
    color: rgb(18, 26, 26);
  }
  .title {
    width: 100%;
  }
}
@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .media{
    color: rgb(31, 90, 218);
  }
  .title {
    width: 60%;
  }
}