.header {
  box-sizing: border-box;
 padding: 30px 4% 10px;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: rgb(251, 254, 255);
 display: flex;
 align-items: center;
 
}
.title {
 margin: 0; padding: 0;
 padding-bottom: 30px;
 font-size: 30px;

}
.ali {	
 text-decoration: none;
 color: #4b4b4b;
 margin: 0 0 0 15px;
 font-size: 18px;
 
}
.pcnav {
 margin: 0 0 0 auto;
}
.ula {
 list-style: none;
 margin: 0;
 display: flex;
 
}
.Title{
  text-decoration: none;
  font-size:55px;
  color: #18e968;
}
@media screen and (min-width:280px) and ( max-width:668px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .Title {
    font-size:25px;
  }
  .ali {	
    text-decoration: none;
    color: #4b4b4b;
    margin: 0 0 0 15px;
    font-size: 13px;
    
   }
}