.header {
  box-sizing: border-box;
 padding: 30px 4% 10px;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: rgb(251, 254, 255);
 display: flex;
 align-items: center;
 
}
.title {
 margin: 0; padding: 0;
 padding-bottom: 30px;
 font-size: 30px;
 text-shadow: 5px 5px 0 #b9b9b4;

}

.pcnav {
 margin: 0 0 0 auto;
 
}
.ula {
 list-style: none;
 margin: 0;
 display: flex;
 
}
.ali {	
  text-decoration: none;
  margin: 0 0 0 15px;
  font-size: 1.4vmax;
  color: #060a08;
 }
 .ali:hover {
  color:#8d8db8;
  text-decoration:underline;
  }
.Title{
  text-decoration: none;
  font-size:55px;
  color: #748f7e;
}
@media screen and (min-width:280px) and ( max-width:668px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .Title {
    font-size:25px;
  }
  .ali {	
    text-decoration: none;
    color: #4b4b4b;
    margin: 0 0 0 15px;
    font-size: 13px;
    
   }
}